.wallet-container .ant-btn {
  height: 40px;
  background-color: transparent;
  border: 1px solid @border-purple;
  color: @text-primary-color;
  &:hover {
    background-color: @bg-purple !important;
    color: @text-primary-color;
  }
  &.wallet-icon {
    padding: 4px 8px;
    margin-left: -1px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.ant-btn.popover-btn {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin-right: 24px;
  border: 0;
  color: @text-primary-color;
  &:hover {
    opacity: .6;
    color: @text-primary-color;
  }
}
.ant-select-dropdown{
  background-color: black;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: rgba(255, 255, 255, 0.1);
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: rgba(255, 255, 255, 0.4);
}
.ant-popover-inner {
  border-radius: 12px;
  background: #1f1f1f;
}

.ant-popover-arrow {
  display: none;
}

h5 {
  font-weight: normal;
}

.ant-select-selector {
  height: 40px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}
