@import '../../styles/colors.less';

header .navbar-expand-lg {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  pointer-events: auto;
  transition: @bg-primary-color .3s ease 0s,box-shadow .3s ease 0s,border 0s .3s,-webkit-transform .3s ease 0s!important;
  transition: @bg-primary-color .3s ease 0s,transform .3s ease 0s,box-shadow .3s ease 0s,border 0s .3s!important;
  transition: @bg-primary-color .3s ease 0s,transform .3s ease 0s,box-shadow .3s ease 0s,border 0s .3s,-webkit-transform .3s ease 0s!important;
  @media screen and (min-width: 992px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.navbar-expand-lg .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}
.navbar-expand-lg .navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
  white-space: nowrap;
  margin-right: 24px;
  min-height: 80px;
}
.navbar-expand-lg .ms-auto {
  margin-left: auto!important;
}
.navbar-expand-lg .navbar-toggler {
  padding: 4px 12px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: box-shadow .15s ease-in-out;
  @media screen and (min-width: 992px) {
    display: none;
    order: 1!important;
  }
}
.navbar-expand-lg .navbar-icon {
  color: white;
  width: 24px;
  height: 24px;
}
.navbar-expand-lg .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-left: -16px;
  margin-right: -16px;
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: scroll;
  @media screen and (min-width: 992px) {
    display: flex!important;
    flex-basis: auto;
    overflow: unset!important;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    height: auto;
  }
}
.order-2 {
  order: 2!important;
}
.navbar-expand-lg .ant-menu {
  background-color: transparent;
  color: @text-primary-color;
}
.navbar-expand-lg .ant-menu-horizontal {
  border: none;
}
.navbar-expand-lg .ant-menu-item {
  &:hover,
  &-active,
  &-selected {
    color: @text-primary-color!important;
  }
}
.navbar-expand-lg .ant-menu-submenu {
  &-open,
  &-active,
  &-title:hover,
  &-selected {
    color: @text-primary-color!important;
  }
}
.navbar-expand-lg .ant-menu-horizontal > .ant-menu-item {
  &hover:after,
  &-active::after,
  &-open::after,
  &-selected::after {
    border-bottom: 2px solid white !important;
  }
}
.navbar-expand-lg .ant-menu-horizontal > .ant-menu-submenu {
  &hover:after,
  &-active::after,
  &-open::after,
  &-selected::after {
    border-bottom: 2px solid white !important;
  }
}
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: @text-primary-color;
}
.ant-menu-submenu-popup > .ant-menu {
  background-color: @bg-secondary-color;
  color: @text-secondary-color;
  border: 1px solid @bg-third-color;
}
.ant-menu-light .ant-menu-item {
  &:hover,
  &-active,
  &-selected {
    color: @text-primary-color!important;
  }

  &:hover {
    background-color: rgb(255 255 255 / 8%)!important;
  }
}
.ant-menu-light .ant-menu-item-selected {
  background-color: transparent!important;
}
.navbar-expand-lg .navbar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}
.navbar-nav .nav-item {
  vertical-align: middle;
}
.nav-item--main-nav {
  margin: 8px auto;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: auto;
  }
  @media screen and (min-width: 992px) {
    margin: 0 16px 0 0;
  }

  .nav-link {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: @text-primary-color;
  }
}
.nav-item--search-bar {
  @media screen and (min-width: 992px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    width: 100%;
  }
  @media screen and (min-width: 576px) {
    padding: 0 16px;
  }
}
.nav-item--search-container {
  width: 100%;
  padding: 0 8px;
  @media screen and (min-width: 992px) {
    padding: 0;
  }
}
.dropdown {
  position: relative;
}
.nav-item--main-nav .dropdown-menu {
  position: static;
  z-index: 1000;
  left: -16px;
  display: none;
  min-width: 200px;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: @text-primary-color;
  text-align: left;
  list-style: none;
  background-color: @bg-secondary-color;
  background-clip: padding-box;
  border: 1px solid @bg-third-color;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 20%), 2px 4px 12px rgb(0 0 0 / 15%);
  @media screen and (min-width: 992px) {
    position: absolute;
  }
}
.navbar-nav ul .nav-item {
  display: block;
}
.nav-item--inner {
  margin: 0;
  width: auto;
  padding: 0 32px;

  @media screen and (min-width: 992px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.nav-link .subnav-nav-link {
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.App-Bar {
  padding: 0px;
  justify-content: space-between !important;

  button.ant-btn:not(.connector) {
    height: 32px;
    background: none;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  padding: 10px 14px 10px 6px;

  margin-bottom: 0px;
}

.divider {
  border-left: 1px solid #282828;
  width: 2px;
  height: 40px;
  margin-right: 14px;
}
.wallet-wrapper {
  padding-right: 0.7rem;
}
.app-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border-width: 0px;
}

.app-bar-inner {
  display: flex;
  min-width: 50%;
  justify-content: center;
  position: relative;
  height: auto;
  .app-bar-item {
    cursor: pointer;
    padding: 0 30px;
    color: @tungsten-60;
    font-size: 18px;
    a {
      color: inherit;
    }
    &.active {
      color: white;
    }
  }
}
