.carousel-img {
  height: 590px;
}

.popular-collections {
  max-height: 750px;
  overflow: hidden;
}

.explore-items {
  max-height: 1000px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 400px;
  }
}