.search__control {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(9, 8, 13);
  border-radius: 4px;
  box-shadow: none;
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 36px;
  outline: none;
  position: relative;
  transition: all 100ms ease 0s;
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  border: 1px solid rgb(89, 82, 128);
  opacity: 0.85;
}

.search__value-container {
  -webkit-box-align: center;
  align-items: center;
  display: grid;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.search__input {
  color: rgb(248, 247, 248);
  background: 0px center;
  opacity: 1;
  width: 100%;
  font: inherit;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}
