.my-sider {
  position: fixed;
  z-index: 20;
  overflow: auto;
  left: 0;
  top: 80px;
  bottom: 0;

  &.ant-layout-sider {
    background: @bg-primary-color;
  }

  .wallet {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border-bottom: 1px solid #24182f;
    padding: 8px 0;

    @media screen and (min-width: 768px) {
      display: none;
    }

    .wallet-info {
      display: flex;
      align-items: center;

      .profile-btn {
        height: 40px;
        background-color: transparent;
        border: 1px solid @border-pink;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-right: -1px;
        padding: 0 8px;
        font-size: 20px;
        color: @border-pink;

        &:hover {
          background-color: @bg-pink !important;
          color: @text-primary-color;
        }
      }

      .connect-btn {
        height: 40px;
        background-color: transparent;
        border: 1px solid @border-pink;
        color: @text-primary-color;
        border-radius: 0 8px 8px 0;
        &:hover {
          background-color: @bg-pink !important;
          color: @text-primary-color;
        }
      }
    }
  }

  .sidebar-menu {
    padding: 0 16px;
    overflow-y: auto;
    flex: 1 1 auto;
    background-color: transparent;
    border: none;
    color: white;

    .ant-menu-inline.ant-menu-sub {
      background: transparent;
    }

    .ant-menu-item,
    .ant-menu-item-group-title,
    .ant-menu-item > a,
    .ant-menu-item > span > a {
      color: white;
    }

    .ant-menu-item-selected {
      background-color: rgba(255, 255, 255, 0.05) !important;
    }
  }
}

.ant-menu.ant-menu-dark {
  & .ant-menu-sub {
    background: black;
    color: rgba(255, 255, 255, 0.8);
  }
}
