.ant-drawer.my-drawer {
  position: fixed;
  margin-top: 80px;

  @media screen and (min-width: 992px) {
    width: 240px!important;
  }
}

.my-drawer {
  .ant-drawer-content-wrapper {
    width: 240px!important;
  }

  .wallet {
    display: inline-flex;
    justify-content: center;
    border-bottom: 1px solid #24182f;
    padding: 8px 0;

    @media screen and (min-width: 768px) {
      display: none;
    }

    .wallet-info {
      display: flex;
      align-items: center;

      .profile-btn {
        height: 40px;
        background-color: transparent;
        border: 1px solid @border-purple;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-right: -1px;
        padding: 0 8px;
        font-size: 20px;
        color: @border-purple;

        &:hover {
          background-color: @bg-purple !important;
          color: @text-primary-color;
        }
      }

      .connect-btn {
        height: 40px;
        background-color: transparent;
        border: 1px solid @border-purple;
        color: @text-primary-color;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        &:hover {
          background-color: @bg-purple !important;
          color: @text-primary-color;
        }
      }
    }
  }

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    background-color: @bg-primary-color;
    border-right: 1px solid #24182f;
    overflow-x: hidden;
    padding: 0px;
  }

  .sidebar-menu {
    padding: 0 16px;
    overflow-y: auto;
    flex: 1 1 auto;
    background-color: transparent;
    border: none;
    color: white;

    .ant-menu-inline.ant-menu-sub {
      background: transparent;
    }

    .ant-menu-item, 
    .ant-menu-item-group-title, 
    .ant-menu-item > a, 
    .ant-menu-item > span > a {
      color: white;
    }

    .ant-menu-item-selected {
      background-color: rgba(255, 255, 255, 0.05)!important;
    }
  }
}