.white-description {
  .ant-steps-item-description {
    color: white !important;
  }
}

.thumb-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .thumb-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 568px;
    max-height: 568px;
    overflow: hidden;
  }
}
