.collection-card {
  width: 100%;
  height: 430px;
  border-radius: 20px;
}

.collection-img {
  border-radius: 20px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}