.card {
  background-color: rgb(22 21 26);
}

.card.collection-card {
  max-width: 270px;
  height: 370px;
  border-radius: 20px;
}
.card.collection-card:hover {
  background-color: #900ce9;
}

.card.upcoming-card {
  width: 100%;
  height: 430px;
  border-radius: 20px;
}
.card.upcoming-card:hover {
  background-color: #900ce9;
}

.card.explore-card {
  max-width: 270px;
  height: 380px;
  border-radius: 20px;
}
.card.explore-card .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-img {
  border-radius: 20px;
}

.card .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
