.card {
  background-color: rgb(22 21 26);
}

.card.collection-card {
  width: 100%;
  max-width: 300px;
  height: 380px;
  border-radius: 24px;
}
.card.collection-card:hover {
  background-color: #900ce9;
}

.card.upcoming-card {
  width: 100%;
  max-width: 300px;
  height: 430px;
  border-radius: 24px;
}
.card.upcoming-card:hover {
  background-color: #900ce9;
}

.card.explore-card {
  width: 100%;
  max-width: 300px;
  border-radius: 24px;
}

img.card-img {
  border-radius: 16px;
  min-height: 250px;
  max-height: 250px;
}

.me-btn {
  position: relative;
  width: 250px;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 6px;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gradientBorderWrapper {
  display: inline-block;
  padding: 1px;
  border-radius: 6px;
  background: linear-gradient(123.73deg, #7a00cc 22%, #f72c87 80.67%);
}

.me-btn.gradientBorder {
  background: #161320;
  background-clip: padding-box !important;
}
