header {
  position: relative;
  z-index: 999;
}

header .navbar {
  padding: 0 !important;
}

.navbar-expand-lg {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  pointer-events: auto;
  transition: rgba(166, 175, 189, 0.3) 0.3s ease 0s, box-shadow 0.3s ease 0s,
    border 0s 0.3s, -webkit-transform 0.3s ease 0s !important;
  transition: rgba(166, 175, 189, 0.3) 0.3s ease 0s, transform 0.3s ease 0s,
    box-shadow 0.3s ease 0s, border 0s 0.3s !important;
  transition: rgba(166, 175, 189, 0.3) 0.3s ease 0s, transform 0.3s ease 0s,
    box-shadow 0.3s ease 0s, border 0s 0.3s, -webkit-transform 0.3s ease 0s !important;
}

.navbar-sticky {
  background: #120c18;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
  border-bottom: 1px solid #1c1326;
}

li {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  padding: 0;
  max-width: 1170px;
}

.container.header {
  padding-right: 10px;
  padding-left: 10px;
}

.container.header .dropdown-menu {
  padding: 0;
  background-color: #1c1326;
  border: 1px solid #2b273f;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 20%), 2px 4px 12px rgb(0 0 0 / 15%);
}

.container.header .navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-brand {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 0;
}

.ms-auto {
  margin-left: auto !important;
}

.navbar-collapse {
  margin-left: -1rem;
  margin-right: -1rem;
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar-nav .nav-item {
  vertical-align: middle;
}

.nav-item--main-nav {
  margin: 0.5rem auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.nav-item--main-nav .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.nav-item--main-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-expand-lg:not(.navbar-sticky) .navbar-nav .nav-link {
  color: #f9f9f9;
}

.navbar-nav .nav-item a:not(.btn) {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}

.navbar-nav .nav-link:not(.btn) {
  color: #f5f5f5;
}

.nav-item .dropdown-menu {
  left: -1rem;
}

.navbar-nav ul .nav-item {
  display: block;
}

.nav-item--inner {
  margin: 0;
  width: auto;
  padding: 0 2rem;
}
.nav-item--inner:hover {
  background-color: #2b273f;
}

.subnav-nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

@media (min-width: 991px) {
  .navbar-collapse {
    overflow: unset !important;
  }
  .nav-item--main-nav {
    margin: 0 1rem 0 0;
  }
  .navbar-nav .nav-item a:not(.btn) {
    font-size: 0.75rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .nav-item--inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  .subnav-nav-link {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    margin: 0;
    height: auto;
  }
  .nav-item--main-nav {
    width: auto;
  }
  .nav-item--inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
