
.collectionSidebar {
  width: 340px;
  height: calc(100vh - 81px);
  flex-shrink: 0;
  top: 81px;
  color: #8e8e8e;
}
.collectionSidebar svg {
  color: #9C8FA8;
}
.collectionSidebar.collapsed {
  width: 60px;
}
.collectionSidebar .sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}
.collectionSidebar__expand {
  width: 100%;
  height: 60px;
}
.tw-p-4 {
  padding: 1rem;
}
.me-border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
}
.me-price-filter {
  background: #1c1326!important;
}
.me-dropdown-container input.no-border {
  border: 1px solid transparent;
}
input.no-border {
  border: 1px solid transparent;
}
.me-price-filter input {
  background: #09080d;
}
.me-dropdown-container input {
  background: #09080d;
  border: 1px solid #2b273f;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  color: #f8f7f8;
}
.me-dropdown-container .chevron-down {
  display: flex;
  width: 36px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.border-radius-8px {
  border-radius: 8px;
}
.me-input-box {
  border: 1px solid #5a5a5a;
  outline: none;
  box-sizing: border-box;
}
.gradientBorderWrapper {
  display: inline-block;
  padding: 1px;
  border-radius: 6px;
  background: linear-gradient(123.73deg,#7a00cc 22%,#f72c87 80.67%);
}
.me-btn {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 6px;
  moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.me-btn.gradientBorder {
  background: #161320;
}
.me-btn.gradientBorder:hover {
  background: transparent;
}
input.focus-highlight:focus {
  border: 1px solid #595280!important;
}
.me-input-box:focus {
  outline: none;
  background-color: transparent;
}
.accordion-item {
  background-color: transparent;
  margin: 2px auto;
}
.accordion-header .accordion-button {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 0.5px solid #595280!important;
  color: #8e8e8e;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238e8e8e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  transform: rotate(-180deg);
}
.accordion-button::after {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238e8e8e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}
.tw-accordion-body {
  margin-top: 4px;
  border: 0.5px solid #595280;
  padding: 0px!important;
}
.accordion-body .subitem:hover {
  background-color: #6155a7;
}