.marketplace-page {
  background-color: rgb(9, 8, 13);
}

.collection-info {
  box-sizing: border-box;
  border-radius: 24px;
  padding: 40px 24px 24px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.attributes-row {
  padding-right: 0.75rem;
}
.collection-info .attributes-column {
  text-align: center;
}

.attributes-row .attributes-column {
  margin-bottom: 0.5rem;
}
.attributes-column {
  padding-right: 0;
}
.attributes-main svg {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  width: 1rem;
  display: none;
}
.attributes-main:hover svg {
  display: block;
}
.tab-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  color: #9ca3af;
}
.tab-btn.selected {
  border-bottom: 2px solid #e93a88;
  color: #efefef;
}
