.collection-page {
  background-color: rgb(9, 8, 13);
}

.container {
  padding: 0;
  max-width: 1170px;
}

.searchbar {
  height: 48px !important;
  background-color: rgb(22, 19, 32);
}

.empty-container {
  background-color: rgb(28, 19, 38);
}